In [1]:
import numpy as np
import pandas as pd

# MRR

## matrix

In [2]:
df = pd.DataFrame({
    'user_1': [False, False, True],
    'user_2': [False, True, True],
    'user_3': [True, True, False]
})

In [3]:
df

   user_1  user_2  user_3
0   False   False    True
1   False    True    True
2    True    True   False

In [4]:
def get_reciprocal_rank_for_matrix(values):
    return 1 / (values.argmax() + 1)

In [5]:
np.mean(df.apply(get_reciprocal_rank_for_matrix).values)

0.611111111111111

## relevant list

In [6]:
df = pd.DataFrame({
    'user': [1, 2, 2, 3, 3],
    'position': [3, 2, 3, 1, 2]
})

In [7]:
df

   user  position
0     1         3
1     2         2
2     2         3
3     3         1
4     3         2

In [8]:
def get_reciprocal_rank_for_relevant_list(values):
    return 1 / values.min()

In [9]:
np.mean(df.groupby(['user'])['position'].apply(get_reciprocal_rank_for_relevant_list).values)

0.611111111111111

# MAP

## matrix

In [10]:
df = pd.DataFrame({
    'user_1': [True, False, True, True, False],
    'user_2': [False, False, False, True, True]
})

In [11]:
df

   user_1  user_2
0    True   False
1   False   False
2    True   False
3    True    True
4   False    True

In [12]:
def get_average_precision_for_matrix(values):
    filtered_values = values[values]
    return np.average(np.arange(1, len(filtered_values) + 1) / (filtered_values.index.sort_values(ascending=True).values + 1))

In [13]:
np.mean(df.apply(get_average_precision_for_matrix).values)

0.5652777777777778

## relevant list

In [14]:
df = pd.DataFrame({
    'user': [1, 1, 1, 2, 2],
    'position': [1, 3, 4, 4, 5]
})

In [15]:
df

   user  position
0     1         1
1     1         3
2     1         4
3     2         4
4     2         5

In [16]:
def get_average_precision_for_relevant_list(values):
    return np.average(np.arange(1, len(values) + 1) / (values.sort_values(ascending=True).values))

In [17]:
np.mean(df.groupby(['user'])['position'].apply(get_average_precision_for_relevant_list).values)

0.5652777777777778

# NDCG

## matrix

In [18]:
df = pd.DataFrame({
    'user_1': [3, 2, 3, 0, 1, 2]
})

In [19]:
df

   user_1
0       3
1       2
2       3
3       0
4       1
5       2

In [20]:
ideal_df = pd.DataFrame({
    'ideal': [3, 3, 2, 2, 1, 0]
})

In [21]:
ideal_df

   ideal
0      3
1      3
2      2
3      2
4      1
5      0

In [22]:
def get_discounted_cumulative_gain_for_matrix(values):
    return np.sum(values / np.log2(np.arange(2, len(values) + 2)))

In [23]:
dcg = np.sum(df.apply(get_discounted_cumulative_gain_for_matrix).values)

In [24]:
dcg

6.861126688593502

In [25]:
idcg = np.sum(ideal_df.apply(get_discounted_cumulative_gain_for_matrix).values)

In [26]:
idcg

7.1409951840957

In [27]:
dcg / idcg

0.9608081943360617

## relevant list

In [28]:
df = pd.DataFrame({
    'user': [1, 1, 1, 1, 1, 1],
    'rating': [3, 2, 3, 0, 1, 2]
})

In [29]:
df

   user  rating
0     1       3
1     1       2
2     1       3
3     1       0
4     1       1
5     1       2

In [30]:
ideal_df = pd.DataFrame({
    'user': [1, 1, 1, 1, 1, 1],
    'rating': [3, 3, 2, 2, 1, 0]
})

In [31]:
def get_discounted_cumulative_gain_for_relevant_list(values):
    return np.sum(values / np.log2(np.arange(2, len(values) + 2)))

In [32]:
dcg = np.sum(df.groupby(['user'])['rating'].apply(get_discounted_cumulative_gain_for_relevant_list).values)

In [33]:
dcg

6.861126688593502

In [34]:
idcg = np.sum(ideal_df.groupby(['user'])['rating'].apply(get_discounted_cumulative_gain_for_relevant_list).values)

In [35]:
idcg

7.1409951840957

In [36]:
dcg / idcg

0.9608081943360617